@import url(mobile-layout.css);
@import url(tablet-layout.css);
@import url(desktop-layout.css);

/* ===================================== 
   Base Style
======================================== */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font: 1em/1.6 "Roboto", arial, sans-serif;
  margin: 0;
  height: 100vh;
  background-color: #0f6733;
}

.main-header {
  text-transform: uppercase;
  background: #fffffe url(../images/bg.jpg) no-repeat center;
  padding: 30px 0;
}

h1 {
  color: #fffffe;
}

a {
  text-decoration: none;
}

p {
  color: #2d334a;
}

.card {
  background-color: #fffffe;
  padding: 20px;
  width: 95%;
  margin: 5px auto;
}

.card img {
  width: 100%;
}

.card .links {
  background-color: #272343;
  color: #fffffe;
  padding: 10px;
  border-radius: 5px;
}

.card .sidebar-nav {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}

.card .sidebar-nav li {
  padding: 0 10px;
}

.card form {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
input[type="email"] {
  margin-right: 5px;
  background-color: #f2f2f2;
  border: 1px solid #bdbdbd;
  color: #5a5854;
  border-radius: 5px;
}

input[type="email"]:focus,
input[type="email"]:hover {
  background-color: #fff;
  border: 1px solid #b1e1e4;
}

input[type="submit"] {
  color: #272343;
  background-color: #ffd803;
  padding: 2px 5px;
  border-radius: 5px;
  text-shadow: 0px 1px 1px #fff;
}

input[type="submit"]:hover {
  background-color: #2375a4;
  color: #eaf0f3;
}

.main-footer {
  background-color: #0a0911;
  color: #fffffe;
}

/* ===================================== 
   DRY
======================================== */

.center {
  text-align: center;
}
