/* ===================================== 
   Mobile layout
======================================== */

.grid-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
}

.card {
  margin: 15px 0;
}
